%h1 Listing theme_parks

%table
  %tr
    %th Name
    %th Description
    %th Location
    %th Average Rating
    %th First Photo

  - @theme_parks.each do |theme_park|
    %tr
      %td= link_to theme_park.name, theme_park
      %td= theme_park.description
      %td= theme_park.location
      %td{id: "theme_park_number_#{theme_park.id}"}= theme_park.average_rating
      %td= image_tag theme_park.theme_park_images.first.photo.thumb if theme_park.theme_park_images.any?
%br
= link_to 'New Theme park', new_theme_park_path
