%p
  = link_to 'Rate this theme park', new_theme_park_rating_path(@theme_park)
%p
  %b Name:
  = @theme_park.name
%p
  %b Description:
  = @theme_park.description
%p
  %b Location:
  = @theme_park.location
%p
  %b Average Rating:
  = @theme_park.average_rating
- if @theme_park.theme_park_images.any?
  %p
    %b Photo Title:
    = @theme_park.theme_park_images.first.title
  %p
    %b Photo:
    = image_tag @theme_park.theme_park_images.first.photo_url

= link_to 'Back', theme_parks_path
