!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Theme Park Reviews
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .row
      .small-6.columns
        Welcome
      .small-6.columns.text-right
        = render 'layouts/navigation_links'
    .row
      .small-12.columns
        %p.notice= notice
        %p.alert= alert
    .row
      .small-6.columns{style: 'background-color: #99f;'}
        hello
      .small-6.columns{style: 'background-color: #9f9;'}
        right
      .small-12.columns{style: 'background-color: white;'}
        = yield
    = javascript_include_tag "application"
